body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: flex;
}
.square-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 850px;
}